body {
  margin: 0;
  padding: 0;
  background-color: #fafbff;
  background-image: url(/images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-position-x: 0;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 40px;
  background-size: 150px;
}

.heading h1 {
  text-align: center;
  font-family: Manrope;
  font-size: 25px;
  margin: 3em 0 0.5em 0;
  color: #293356;
}

.heading h2 {
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  padding: 0 4em 4em 4em;
  font-weight: 600;
  color: #858fad;
  margin: -0.5em 0 0 0;
}

.card {
  background-color: white;
  margin: 0em 2em 4em 2em;
  border-radius: 1em;
  -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.card .card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0 0 0;
}

.card .card-heading .page-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Manrope;
  font-size: 15px;
  color: #858fad;
}

.card .card-heading .page-views h1 {
  font-size: 15px;
  margin: 0 0 0 0.25em;
}

.card .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0;
}

.card #myinput {
  background: -webkit-gradient(linear, left top, right top, from(#a5f3eb), color-stop(50%, #a5f3eb), color-stop(50%, #eaeefb), to(#eaeefb));
  background: linear-gradient(to right, #a5f3eb 0%, #a5f3eb 50%, #eaeefb 50%, #eaeefb 100%);
  border-radius: 8px;
  height: 7px;
  width: 90%;
  outline: none;
  -webkit-transition: 450ms ease-in;
  transition: 450ms ease-in;
  -webkit-appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card [type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  content: '';
  background-color: #10d5c2;
  background-image: url(/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  border-radius: 2em;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 25px 5px rgba(16, 213, 194, 0.35);
  box-shadow: 0px 10px 25px 5px rgba(16, 213, 194, 0.35);
  border: none;
}

.card .slider-value-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .slider-value-container .sliderValue span {
  font-family: Manrope;
  font-size: 25px;
  position: relative;
  font-weight: 800;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.card .slider-value-container .sliderValue span.active {
  color: red;
}

.card .slider-value-container .per-month {
  font-family: Manrope;
  margin: 0 0 0 0.75em;
}

.card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 0.5em;
}

.card .details .monthly-billing {
  padding: 0 0.75em 0 0;
}

.card .details .monthly-billing p {
  font-family: Manrope;
  font-size: 13px;
  color: #858fad;
  text-align: center;
}

.card .details .switch {
  position: relative;
  height: 20px;
  width: 40px;
  display: inline-block;
  border-radius: 20px;
  background-color: #cdd7ee;
  cursor: pointer;
}

.card .details .switch input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.card .details .switch .slider-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 2px;
  left: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card .details .switch input:checked + .slider-button {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}

.card .details .yearly-billing {
  padding: 0 0 0 0.75em;
}

.card .details .yearly-billing p {
  font-family: Manrope;
  font-size: 13px;
  color: #858fad;
  text-align: center;
}

.card .details .discount {
  padding: 0 0.5em 0 0.75em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .details .discount p {
  font-family: Manrope;
  font-size: 15px;
  background-color: #feece7;
  color: #ff8c66;
  padding: 0.25em 0.5em;
  border-radius: 2em;
  text-align: center;
}

.card .last-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em 2em 0 2em;
  padding: 0 0 3em 0;
  border-top: solid 1px #d4d4d4;
}

.card .last-container .unlimited-websites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  margin: 2em 1em 0 0;
}

.card .last-container .unlimited-websites p {
  font-family: Manrope;
  color: #858fad;
}

.card .last-container .unlimited-websites::before {
  content: url(/images/icon-check.svg);
  position: relative;
  margin: 0 1em 0 0;
}

.card .last-container .data-ownership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  margin: 0 1em 0 0;
}

.card .last-container .data-ownership p {
  font-family: Manrope;
  color: #858fad;
}

.card .last-container .data-ownership::before {
  content: url(/images/icon-check.svg);
  position: relative;
  margin: 0 1em 0 0;
}

.card .last-container .email-reports {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  margin: 0 1em 0 0;
}

.card .last-container .email-reports p {
  font-family: Manrope;
  color: #858fad;
}

.card .last-container .email-reports::before {
  content: url(/images/icon-check.svg);
  position: relative;
  margin: 0 1em 0 0;
}

.card .last-container .last-button {
  margin: 2em 0 0 0;
}

.card .last-container .last-button button {
  background: none;
  background-color: #293356;
  border-radius: 2em;
  padding: 0.75em 3em;
  color: #858fad;
  font-family: Manrope;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.card .last-container .last-button button:hover {
  color: #fafbff;
}

@media screen and (min-width: 900px) {
  body {
    background-size: 120em;
    background-position-y: -14em;
  }
  .card {
    margin: 0em 25% 3em 25%;
  }
  .heading {
    background-size: 130px;
  }
  .card #myinput {
    width: 75%;
  }
  .slider-value-container {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 30%;
    top: 13.75em;
  }
  .slider-value-container .sliderValue span {
    font-family: Manrope;
    font-size: 25px;
    position: relative;
    font-weight: 800;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .slider-value-container .sliderValue span.active {
    color: red;
  }
  .slider-value-container .per-month {
    font-family: Manrope;
    margin: 0 0 0 0.75em;
  }
  .card .card-heading {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 2em 0 0 4em;
  }
  .card .last-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 2em 0 0 0;
  }
  .card .list .unlimited-websites {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .card .list .data-ownership {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .card .list .email-reports {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=main.css.map */