@import './variables';

body {
    margin:0;
    padding:0;
    background-color: $mainBackground;
    background-image: url(/images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-position-x: 0;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40px;
    background-size: 150px;
    
    h1 {
        text-align: center;
        font-family: $fontFamily;
        font-size: 25px;
        margin: 3em 0 0.5em 0;
        color: $textAndCtaBackground;
    }

    h2 {
        text-align: center;
        font-family: $fontFamily;
        font-size: $font;
        padding:0 4em 4em 4em;
        font-weight: 600;
        color: $text;
        margin: -0.5em 0 0 0;
    }
}

.card {
    background-color: $pricingBackground;
    margin: 0em 2em 4em 2em;
    border-radius: 1em;
    -webkit-box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.2); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.2);

    .card-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em 0 0 0;

        .page-views {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $fontFamily;
            font-size: $font;
            color: $text;

            h1 {
                font-size: 15px;
                margin: 0 0 0 0.25em;
            }
        }
    }

    .slider {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2em 0;
    }

    #myinput {
        background: linear-gradient(to right, $fullSliderBar 0%, $fullSliderBar 50%, $emptySliderBar 50%, $emptySliderBar 100%);
        border-radius: 8px;
        height: 7px;
        width: 90%;
        outline: none;
        transition:  450ms ease-in;
        -webkit-appearance: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }

     [type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        content: '';
        background-color: #10d5c2;
        background-image: url(/images/icon-slider.svg);
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;
        width: 40px;
        border-radius: 2em;
        cursor: pointer;
        -webkit-box-shadow: 0px 10px 25px 5px rgba(16,213,194,0.35); 
        box-shadow: 0px 10px 25px 5px rgba(16,213,194,0.35);
        border: none;
      }


    .slider-value-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .sliderValue span {
            font-family: $fontFamily;
            font-size: 25px;
            position: relative;
            font-weight: 800;
            transition: 0.5s all;
        }

        .sliderValue span.active {
            color:red;
        }

        .per-month {
            font-family: $fontFamily;
            margin: 0 0 0 0.5em;
        }
    }
    
    .details {
        display: flex;
        justify-content: center;
        align-items: center;

        .monthly-billing {
            padding: 0 0.75em 0 0;

            p {
                font-family: $fontFamily;
                font-size: 15px;
                color: $text;
                text-align: center;
            }

        }


        .switch {
            position: relative;
            height: 20px;
            width: 40px;
            display: inline-block;
            border-radius: 20px;
            background-color: $toggleBackground;
            cursor: pointer;

            
            input {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                cursor: pointer;
            }

            .slider-button {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                position: absolute;
                background-color: white;
                top: 2px;
                left: 3px;
                transition: all 0.5s;
            }

            input:checked + .slider-button {
                transform: translateX(18px);
            }
        }

        .yearly-billing {
            padding: 0 0 0 0.75em;
            
            p {
                font-family: $fontFamily;
                font-size: 15px;
                color: $text;
                text-align: center;
            }
        }

        .discount {
            padding: 0 0.5em 0 0.75em;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-family: $fontFamily;
                font-size: 15px;
                background-color:$discountBackground;
                color: $discountText;
                padding:0.25em 0.5em;
                border-radius: 2em;
                text-align: center;
            }
        }

    }

    .last-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2em 2em 0 2em;
        padding: 0 0 3em 0;
        border-top: solid 1px rgb(212, 212, 212);
    
        .unlimited-websites {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            margin: 2em 1em 0 0;
    
            p {
                font-family: $fontFamily;
                color: $text;
            }
        }
    
        .unlimited-websites::before {
            content: url(/images/icon-check.svg);
            position: relative;
            margin: 0 1em 0 0;
        }
    
        .data-ownership {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            margin: 0 1em 0 0;
    
            p {
                font-family: $fontFamily;
                color: $text;
            }
        }
    
        
        .data-ownership::before {
            content: url(/images/icon-check.svg);
            position: relative;
            margin: 0 1em 0 0;
        }
    
        .email-reports {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            margin: 0 1em 0 0;
    
            p {
                font-family: $fontFamily;
                color: $text;
            }
        }
    
        .email-reports::before {
            content: url(/images/icon-check.svg);
            position: relative;
            margin: 0 1em 0 0;
        }

        .last-button {
            margin: 2em 0 0 0;

            button {
                background:none;
                background-color: $textAndCtaBackground;
                border-radius: 2em;
                padding: 0.75em 3em;
                color: $mainBackground;
                font-family: $fontFamily;
                font-size: 15px;
                cursor: pointer;
            }
        }
    
    }


}


